<h2>Is IndexController from the addon?</h2>
<p>
  {{#if isControllerFromAddon}}
    Yes!
  {{else}}
    No.
  {{/if}}
</p>

<h2>Is the function importing from the addon's namespace?</h2>
<p>
  {{#if isFunctionFromAddonNamespace}}
    Yes!
  {{else}}
    No.
  {{/if}}
</p>
